/* GLOBAL */
#root {
  font-family: "Roboto";
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin: 30px 0;
}

::placeholder {
  color: #cbcccd;
}

/* LOADING */
.loading-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  img {
    width: 100px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 0.8s linear infinite;
}

/* HEADER */
.logo {
  height: 30px;
  cursor: pointer;
}

.header {
  /* border: solid #000; */
  padding: 10px;
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-btn {
  display: flex;
  gap: 20px;
}

.two-btn {
  display: flex;
  gap: 10px;
  border-radius: 5px;

  .inscription,
  .connexion {
    background-color: white;
    color: #2cb1ba;
    border: #2cb1ba solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .logout {
    background-color: #c2185a;
    color: white;
    border: #c2185a solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.sell {
  background-color: #2cb1ba;
  color: white;
  border: white solid 1px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-container {
  display: flex;
  padding: 5px;
  gap: 15px;
  background-color: #f5f6f7;
  align-items: center;
  border-radius: 5px;
  min-width: 400px;
  /* max-width: 450px; */
  height: 37px;

  input {
    border-style: none;
    background-color: #f5f6f7;
    outline: none;
    font-size: 16px;
  }
}

/* MAIN */

/* HOME */
.all-offers {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  justify-content: center;
  /* max-width: 1240px; */
  margin: 60px auto auto;
  gap: 20px;
  /* border: solid #0fc5bc; */
}

.offers-wrapper {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* margin: 10px 40px; */
  border: solid #cd1818;
}

.one-offer {
  /* border: solid #000; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: calc(25% - 15px); */
  /* align-items: center; */
  /* max-width: 235px; */
  width: 250px;
  height: 500px;
  /* flex: 0 0 calc(25% - 15px);
  max-width: calc(25% - 15px); */
}

.product-img-container {
  /* width: 350px; */
  width: 100%;
  height: 380px;
  /* height: 100%; */
  /* overflow: hidden; */
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.without-avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: plum;
}

.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  color: #999;
  font-size: 14px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;

  .product-info-price {
    font-size: 16px;
  }

  .product-info-marque,
  .product-info-taille {
    font-size: 14px;
    color: #999;
  }
}

.home-cover {
  background-image: url("./assets/img/hero-24963eb2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.tear {
  position: absolute;
  bottom: 0px;
  right: 0;
}

.home-cover-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.ready-container {
  background-color: white;
  width: 410px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.445);

  p {
    font-size: 35px;
  }

  button {
    background-color: #2cb1ba;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.tri-and-limit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 40px;
}

.tri-articles {
  display: flex;
  gap: 60px;
}

.tri-par-prix label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tri-range-prix {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;

  p {
    width: 130px;
  }
}

.offer-link {
  text-decoration: none;
  color: inherit;
}

.limit > button {
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.desactivate {
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.active {
  font-weight: bold;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

/* OFFER */
.offer {
  display: flex;
  justify-content: center;
  gap: 100px;
  /* border: solid #8014b6; */
  /* background-color: #eaedee; */
}

.offer-pictures {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  height: 605px;
  width: 450px;
  /* border: solid #204fbe; */

  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* box-shadow: 0 0 7px #666; */
  }

  .slide-hidden {
    display: none;
  }
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0 0 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 10px;
  width: 0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

.offer-details {
  background-color: white;
  margin: 40px;
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 605px;
  justify-content: space-between;
}

.offer-container {
  background-color: #eaedee;
  height: 100vh;

  .price {
    font-size: 25px;
  }
}

.offer-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    display: flex;
    gap: 10px;
  }

  ul > li > span {
    flex: 1;
  }

  ul span:nth-child(odd) {
    color: #999;
  }

  ul span:nth-child(even) {
    color: #666;
    font-weight: 500;
  }
}

.hr-offer {
  border: 1px solid #efefefa1;
  width: 100%;
}

/* .key {
  color: gray;
  width: 260px;
} */

.offer-name {
  font-weight: 700;
}

.offer-description {
  color: #666;
}

.offer-user-info {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 50px;
    width: 50px;
  }
}

.buy {
  background-color: #2cb1ba;
  color: white;
  border: white solid 1px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

/* LOGIN & SIGNUP */
.login-container,
.signup-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  width: 275px;

  button {
    background-color: #2cb1ba;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    height: 45px;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  input {
    border: none;
    border-bottom: 1px solid #fcced3;
    height: 35px;
    margin-bottom: 20px;
    background-color: white;
    outline: none;
    font-size: 16px;
  }
}

.redirection-signup,
.redirection-login {
  text-decoration: none;
  color: #2cb1ba;
  font-size: 12px;
}

.checkbox-container {
  padding: 10px;

  span {
    color: #666;
  }

  p {
    text-align: left;
    font-size: 12px;
    color: #999;
  }

  .newsletter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input[type="checkbox"] {
      margin: 0 15px 0 0;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

/* MODAL */
.App {
  position: relative;
}

.modal-root {
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  width: 450px;
  height: 550px;
  padding: 10px 50px;
  /* Placer le button en haut à droite de la modal : */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
  justify-content: center;
  /* border: 5px solid #1a5790; */
  border-radius: 5px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 3px solid #ab089b;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* TOGGLE (tri par prix) */

/* .toggle-custom.react-toggle:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #2cb1ba;
  border: 1px solid #91bf12;
} */

.toggle-custom.react-toggle--checked .react-toggle-track {
  background-color: #2cb1ba;
  /* border: 1px solid #08be66; */
}

.toggle-custom.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #2cb1ba;
  /* border: 1px solid #dd0b0b; */
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;

  /* border: 1px solid #d29a16;
  background-color: #1c19cb; */
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;

  /* border: 1px solid #08a69e; */
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;

  /* border: 1px solid #750eca; */
}

.toggle-custom.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.toggle-custom.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #fafafa;
}

.toggle-custom.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px 0px #ffffff;
}

.toggle-custom.react-toggle:active:not(.react-toggle--disabled)
  .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px 0px #ffffff;
}
